* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #e2edfc55;
}